[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "sh -c 'mh down && mh up mongodb && pipenv run local'"
local = "sh -c 'PYTHONPATH=$(pwd)/src python3 -m server'"
test = "python -m unittest discover -s ./src -p 'test_*.py'"
stepci = "stepci run ./test/stepci.yaml"
load = "stepci run ./test/stepci.yaml --loadtest"
build = "docker build --tag ghcr.io/agile-learning-institute/mentorhub-encounter-api:latest ."
container = "sh -c 'mh down && pipenv run build && mh up encounter-api'"

[packages]
flask = "*"
pymongo = "*"
prometheus-flask-exporter = "*"
mentorhub-utils = "*"

[dev-packages]

[requires]
python_version = "3.12"
